.GridLex-col-3_sm-4_xs-12.mb-30
  .package-grid-item
    =link_to "/items/#{item.id}" do
      .image
        =image_tag(item.itemImg, alt: item.title)
        .absolute-in-image
          .duration
            %span
              = item.category.name
      .content.clearfix
        %h5
          = item.title
        .rating-wrapper
          .raty-wrapper
            .star-rating-read-only{"data-rating-score" => "4.0"}
            %span / 7 review
        .absolute-in-content
          %span.btn
            %i.fa.fa-heart-o
          .price
            = "#{item.price} 円"
