.GridLex-col-3_sm-4_xs-12.mb-30
  .package-grid-item
    =link_to "/items/#{item.id}" do
      .image
        =image_tag(item.itemImg, alt: item.title)
        .absolute-in-image
          .duration
            %span
              = item.category.name
      .content.clearfix
        %h5
          = item.title
        .rating-wrapper
          .raty-wrapper
            .star-rating-read-only{"data-rating-score" => "3.7"}
            %span / 7 review
        .absolute-in-content
          %span.btn
            - if user_signed_in?
              - if item.likes.find_by(user_id: current_user.id)
                = image_tag("/assets/heart_colored.png")
              -else
                = image_tag("/assets/icon_heart.svg")
            - else
              = image_tag("/assets/icon_heart.svg")
            / %i.fa.fa-heart-o
          .price
            = "#{item.price} 円"
