/ sidebar
/ %script{:src => "/assets/js/sidebar.js", :type => "text/javascript"}
.clear
/ start Main Wrapper
.main-wrapper.scrollspy-container
  / start end Page title
  .page-title.detail-page-title{:style => "background-image:url('/assets/books_on_desk2.jpg');"}
    .container
      .flex-row
        .flex-column.flex-md-8.flex-sm-12
          %h1.hero-title
            = @item.title
          %p.line18
            = @item.discription
        .flex-column.flex-md-4.flex-align-bottom.flex-sm-12.mt-20-sm
          .text-right.text-left-sm
            =link_to "購入ページへ", "/buy/#{@item.id}", class: "anchor btn btn-primary"
  / end Page title
  .breadcrumb-wrapper.bg-light-2
    .container
      %ol.breadcrumb-list
        %li
          =link_to "Home", "/"
        %li
          =link_to "#{@item.category.name}", search_items_path(searchCategory: @item.category.id)
        %li
          %span
            = @item.title
  .like-rating-bar
    #js-like_button
      = render partial: "like", locals: {item: @item, like: @like }
    .rating-wrapper.rating-wrapeer_items-show
      .raty-wrapper
        .star-rating-read-only{"data-rating-score" => "3.7"}
  .clear
  .content-wrapper
    .container
      .row
        .col-sm-3.col-xs-12.mb-50-xs
          %div{:role => "complementary"}
            =image_tag(@item.itemImg, alt: @item.title)
        .col-md-9.mt-30-xs{:role => "main"}
          .detail-content-wrapper
            #section-0.detail-content
              .section-title.text-left
                %h4 "概要"
              %h5.heading
                = @item.title
              %h5.price.mt-0
                = "合計金額: "
                %span
                  = "#{@total} 円"
            #section-2.detail-content
              .section-title.text-left
                %h4 詳細
              .detail-item
                .row
                  .col-sm-4.col-sm-3
                    %ul.list-info.no-icon.bb-dotted
                      %li
                        %span.font600
                          = "出品者: "
                        =link_to "#{@item.admin_user.nickname}"
                      %li
                        %span.font600
                          = "本体価格: "
                        = "#{@item.price}円"
                      %li
                        %span.font600
                          = "消費税: "
                        = "#{@tax}円"
                      %li
                        %span.font600
                          = "送料: "
                        = "#{@item.postage}円"
                      %li
                        %span.font600
                          = "カテゴリ: "
                        = "#{@item.category.name}"
                      %li
                        %span.font600
                          = "状態: "
                        = "#{@item.condition}"
                  .col-sm-8.col-md-9
                    .itinerary-wrapper
                      .itinerary-item
                        %h5.mb-20
                          = "どんな本？"
                        .intro-item-body
                          %p
                            = @item.discription
                .text-center.pt-10
                  %a.btn.btn-primary.btn-full-width{:href => "/buy/#{@item.id}"} 購入ページヘ
                .row.item-reviews
                  %h4.col-md-12.col-sm-12
                    = link_to "Reviews", "", remote: true, class: "js_reviews_open_hide_btn"
                    %span#js_reviews_count.num
                      = render partial: "count", locals: {count: @count}
                      / (#{@item.reviews.count})
                  .col-md-12.col-sm-12
                    #js_reviews_list
                      = render partial: "review",collection: @reviews
                    - if user_signed_in?
                      = form_for [@item, @review], html: {class:'form-inline'}, role: "form", remote: true do |f|
                        %h4 Write a Review
                        .row
                          .form-group.col-md-10.col-sm-10
                            = f.text_area :review, placeholder: "Your reviews", rows: "3"
                          .form-group.col-md-2.col-sm-2
                            %button.btn.btn-primary Review
            .detail-content
              .section-title.text-left
                %h4 関連する書籍
              .GridLex-gap-20-wrappper.package-grid-item-wrapper.on-page-result-page.alt-smaller
                .GridLex-grid-noGutter-equalHeight
                  = render partial: "sameCategoryItem",collection: @sameCategoryItems
                = paginate @sameCategoryItems
            .call-to-action
              =link_to "お問い合わせ", "/", class: "btn btn-primary btn-sm btn-inverse"
