/ #introLoader.introLoading
/ BEGIN # MODAL LOGIN
#loginModal.modal.fade.modal-login.modal-border-transparent{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %button.btn.btn-close.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
      .clear
      / Begin # DIV Form
      #modal-login-form-wrapper
        / Begin # Login Form
        #login-form
          .modal-body.pb-5
            %h4.text-center.heading.mt-10.mb-20 ログイン
            .js-error
            %button.btn.btn-facebook.btn-block Facebookでログイン
            .modal-seperator
              %span or
            = form_for(resource, as: resource_name, url: user_session_path, remote: true) do |f|
              .form-group
                = f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "form-control", id: "login_username"
              .form-group
                = f.text_field :password, placeholder: "パスワード", class: "form-control", id: "login_username"
              - if devise_mapping.rememberable?
                .form-group
                  .row.gap-5
                    .col-xs-6.col-sm-6.col-md-6
                      .checkbox-block.fa-checkbox
                        = f.check_box :remember_me, id: "remember_me_checkbox", class: "checkbox"
                        = f.label :remember_me, "ログイン情報を記憶"
                    .col-xs-6.col-sm-6.col-md-6.text-right
                    %button#login_lost_btn.btn.btn-link{:type => "button"} パスワードをお忘れですか?
              .modal-footer
                .row.gap-10
                  .col-xs-6.col-sm-6.mb-10
                    = f.submit "ログイン", class: "btn btn-primary btn-block"
                  .col-xs-6.col-sm-6.mb-10
                    %button.btn.btn-primary.btn-block.btn-inverse{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
                .text-left
                  まだアカウントをお持ちでない場合は
                  %button#login_register_btn.btn.btn-link{:type => "button"} こちら
        / End # Login Form
        / Begin | Lost Password Form
        %form#lost-form{:style => "display:none;"}
          .modal-body.pb-5
            %h3.text-center.heading.mt-10.mb-20 パスワードの再設定
            .form-group.mb-10
              %input#lost_email.form-control{:placeholder => "登録したアドレスを入力", :type => "text"}/
            .text-center
              %button#lost_login_btn.btn.btn-link{:type => "button"} ログイン
              \/
              %button#lost_register_btn.btn.btn-link{:type => "button"} 新規登録
          .modal-footer.mt-10
            .row.gap-10
              .col-xs-6.col-sm-6
                %button.btn.btn-primary.btn-block{:type => "submit"} メールを送信
              .col-xs-6.col-sm-6
                %button.btn.btn-primary.btn-inverse.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
        / End | Lost Password Form

        / Begin | Register Form

        / invalid authenticity tokenというエラーがでていたので、authenticity_token: trueを下記のように設定してエラー回避。remote true設定に伴い生じた事象のようである
        = form_for(resource, as: resource_name, url: user_registration_path, method: :post, html:{id: "register-form", style: "display:none;"}, authenticity_token: true, remote: true) do |f|
          .modal-body.pb-5
            %h3.text-center.heading.mt-10.mb-20 新規登録
            .js_registrations-error
            %button.btn.btn-facebook.btn-block Facebookで登録
            .modal-seperator
              %span or
            .form-group
              = f.text_field :nickname, class: "form-control", id: "register_username", placeholder: "ニックネーム"
            .form-group
              = f.email_field :email, class: "form-control", id: "register_email", placeholder: "emailアドレス"
            .form-group
              = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "パスワード", id: "register_password", class: "form-control"
            .form-group
              = f.password_field :password_confirmation, id: "register_password_confirm", placeholder: "パスワード再入力", autocomplete: "off", class: "form-control"
          .modal-footer.mt-10
            .row.gap-10
              .col-xs-6.col-sm-6.mb-10
                = f.submit "登録", class: "btn btn-primary btn-block"
              .col-xs-6.col-sm-6.mb-10
                %button.btn.btn-primary.btn-inverse.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "submit"} 戻る
            .text-left
              すでにアカウントをお持ちの場合は
              %button#register_login_btn.btn.btn-link{:type => "button"} こちら
        / End | Register Form
      / End # DIV Form
/ END # MODAL LOGIN
/ start Container Wrapper
.container-wrapper
  / start Header
  %header#header
    / start Navbar (Header)
    %nav.navbar.navbar-primary.navbar-fixed-top.navbar-sticky-function
      .navbar-top
        .container
          .flex-row.flex-align-middle
            .flex-shrink.flex-columns
              = link_to image_tag("techbook_logo.png"), root_path, alt: "Logo", class: "navbar-logo"
            .flex-columns
              .pull-right
                .navbar-mini
                  %ul.clearfix
                    - if user_signed_in?
                      %li.dropdown.bt-dropdown-click.hidden-xs
                        %a#currncy-dropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
                          %i.ion-android-settings.hidden-xss
                          メニュー
                          %span.caret
                        %ul.dropdown-menu{"aria-labelledby" => "language-dropdown"}
                          %li
                            = link_to "マイページ", user_path(current_user)
                          %li
                            = link_to "ログアウト", destroy_user_session_path
                    - else
                      %li.user-action
                        %a.btn{"data-toggle" => "modal", :href => "#loginModal"} ログイン／新規登録
                      / data-toggle: "modal"でheader上部の#loginModalを呼び出している
                      / data-dissmiss: "modal"で該当modalを閉じている
    #slicknav-mobile
    #js_flash_massages
      = render "layouts/messages"
    / end Navbar (Header)
